*,
*::before,
*::after {
  box-sizing: border-box;
}

/* @import "components/card.css";
@import "quizapp/components/header.css";
@import ".components/button.css";
@import "components/profile.css";
@import "customer-card.css";
  */

@import "../components/header.css";

:root {
  --forest-green: #48594d;
  --eggshell-white: #f0e2c4;
  --dark-green: #192b1e;

  --gap: 20px;
}

body {
  background-color: var(--forest-green);
  max-width: 700px;
  border: 3px solid;
  color: var(--eggshell-white);
}

main {
  margin-top: 100px;
}

.header {
  position: fixed;
  justify-content: center;
  margin: 0px;
  padding: 5px;
  z-index: 1;
  width: 95%;
  max-width: 700px;
  background: var(--dark-green);
  height: 70px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header__heading {
  font-family: verdana;
  text-align: center;
  margin: 10px;
  color: var(--eggshell-white);
}

.card {
  position: relative;
  border: solid;
  border-color: var(--eggshell-white);
  padding: var(--gap);
  margin: var(--gap);
  border-radius: 20px;
  background-color: var(--forest-green);
  max-width: 700px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
}

.card:hover {
  position: relative;
  border: solid;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: var(--dark-green);
  background-color: var(--dark-green);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.card__bookmark {
  position: absolute;
  top: -12px;
  right: 20px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.card__question {
  font-size: 20px;
  text-align: center;
  margin: 0;
  flex-wrap: wrap;
}

.ribbon {
  width: 0px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  border: solid 15px var(--eggshell-white);
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.choose {
  width: 0px;
  height: 35px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  border: solid 15px var(--dark-green);
  border-bottom: solid 15px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

.card__answer {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  width: 150px;
  align-self: center;
  cursor: pointer;
  color: var(--dark-green);
}

.card__answer__toggle1 {
  display: none;
}

.visible {
  display: block;
  align-self: center;
  padding: 10px;
  margin: 10px;
  width: 60vw;
  border-radius: 10px;
  background-color: var(--eggshell-white);
  color: var(--dark-green);
}

.card__answer:hover {
  background-color: var(--forest-green);
  color: var(--eggshell-white);
}

/* .card__answer__toggle2 {
  display: none;
  background-color: rgb(91, 91, 215);
  color: rgb(211, 211, 232);
}

.card__answer__toggle3 {
  display: none;
  background-color: rgb(91, 91, 215);
  color: rgb(211, 211, 232);
} */

.card__tag {
  border: solid var(--eggshell-white);
  padding: 5px;
  border-radius: 10px;
  color: var--(--eggshell-white);
  margin: 5px;
}

/* Footer */

.nav__footer {
  width: 100%;
  justify-content: space-around;
  background-color: var(--eggshell-white);
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-wrap: wrap;
  grid-area: "nav";
  display: flex;
}

.footer__button {
  background-color: transparent;
  border-color: var(--forest-green);
  cursor: pointer;
}

.footer__button:hover {
  border: 5px dotted var(--dark-green);
}

.footer__button-current {
  border: 5px solid var(--dark-green);
}

body.dark {
  background-color: var(--dark-green);
  color: var(var(--eggshell-white));
}

.card__answer:active {
  transform: scale(0.9);
  box-shadow: var(--forest-green) 0px 3px 6px;
}

/* Profile-Page

/* .flex__item2 {
    align-self: right;
}

.counter__box{
    border: dotted 2px;
    padding: 10px;
    margin: 10px;
}

.settings{
    border: dotted 2px;
    padding: 10px;
    margin: 10px;
}

 */

/* * The switch - the box around the slider */
/* .switch {
 /*  position: relative;
  display: inline-block; */
/*   height: 10px;
  width: 30px;
} */

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
 */
/* The slider */
/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
 -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
Rounded sliders */
/*  .slider.round {
    border-radius: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }  */

.body__profile {
  display: grid;
  grid-template-areas:
    "nav icon name"
    "nav contact about"
    "nav count about"
    "nav dark about";
  grid-auto-columns: 1fr;
}

.grid_dark {
  grid-area: "dark";
}

.grid_icon {
  grid-area: "icon";
}

.grid-about {
  grid-area: "about";
}

.grid_darkmode {
  border: solid 2px;
  padding: 10px;
  margin: 10px;
}

.counter__box {
  border: solid 2px;
  margin: 10px;
  padding: 10px;
}

.profile-icon {
  height: 80px;
  width: 80px;
  border: solid 2px;
  padding: 10px;
  margin: 10px;
}

.about__article {
  border: solid 2px;
  padding: 10px;
  margin: 10px;
}

.profile_name {
  border: solid 2px;
  padding: 10px;

  margin: 10px;
}

.switch {
  height: 100px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--eggshell-white);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--dark-green);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

[data-theme="dark"] {
  --font-color: var(var(--eggshell-white) ; --bg-color: var(--dark-green));
}
